@media screen and ( max-width:1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 2rem
@media screen and ( max-width: 997px  )
  html
    font-size: 10px
  .hero
    &__content
      margin-left: 0
  .nav
    display: none
  .instagram
    display: none
@media screen and ( max-width: 760px)
 .row
   flex-direction: column
   align-items: center
 .types
  &__card
    margin-bottom: 4rem
 .card
  &__text
    margin-left: 0

@media screen and ( max-width: 576px)
  .section
    &-title__word
      &::after
        display: none
        
  .col-50
    width: 80%

  .contacts
    &__button
      display: none
    &__phone
      margin: 0
      color: $white
  .hero
    &__text
      margin: 0
      margin-top: 1.14rem
      margin-bottom: 2.28rem
      max-width: 25rem
      font-size: 1.4rem
      line-height: 135.84%
    &__button
      display: block
      width: 100%
      margin-bottom: 1.85rem
      font-size: 1.08rem
    &__scroll-down
      display: none
  .title
    max-width: 25rem
    font-size: 2.2rem
    line-height: 132.83%
  .control
    background-color: $dark
    &__text
      color: $white
    &__label
      font-size: 15px
      color: $white
    &__input
      border-bottom: 1px solid rgba($white, 0.15)
      font-size: 18px
    &__form
      flex-direction: column
    &__button
      margin-top: 4.40rem
      font-size: 1.27rem
    &__policy-label
      font-size: 16px
      justify-content: start
      color: $white
  .footer
    background: none
    background-color: $dark
    &__form
      display: flex
      flex-direction: column
      align-items: strerch
    &__policy
      align-self: start
    &__button
      width: 100%
    &__wrap
      background-color: $dark
    &__menu
      opacity: 0
      visibility: hidden
      animation: none
  .design
    background-color: $dark
  
@media screen and ( max-height: 520px)
  .hero
    &__scroll-down
      display: none
  