
*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book' ,sans-serif
img
  max-width: 100%
.section
  padding: 60px 0
  &-title__heading
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
  &-title__image
    display: flex
    align-items: center
    justify-content: center
    &::before, &::after
      content: ''
      width: 32px
      height: 2px
      margin: 0 10px
      background-color: $primary
      