.hero
  display: flex
  position: relative
  padding-top: 92px
  background: $dark url(../../img/hero-bg.jpg) no-repeat center
  background-size: cover
  height: 100vh
  color: $white
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    font-size: 12px
    text-transform: uppercase
    background-color: $dark
    color: $white
    &::after
      content: ''
      margin-left: 12px
      background: url(../img/arrow-down.svg) no-repeat center
      height: 29px
      width: 29px
      border: 2px solid $primary
      border-radius: 50%
  &__content
    position: relative
    max-width: 670px
  &__text
    max-width: 504px
    font-size: 22px
    line-height: 30px
  &__button
    margin-right: 20px

.instagram
    background-color: $dark
    &__link
      display: flex
      text-transform: uppercase
      align-items: center
      color: $primary
      text-decoration: none
      transform: rotate(90deg)
      line-height: 0.8
      &::after
        content: ''
        margin-left: 8px
        width: 50px
        height: 1px
        background-color: $primary

.title
  margin: 0
  font-family: 'Yeseva One', cursive
  font-size: 40px
  line-height: 53px
  text-transform: uppercase
  &--primary
    color: $primary


    
