.hero
  display: flex
  position: relative
  padding-top: 92px
  background: $dark url(../../img/hero-bg.jpg) no-repeat center
  background-size: cover
  height: 100vh
  color: $white
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    left: 0
    bottom: 0
    padding: 0 3.5rem
    min-width: 7.64rem
    min-height: 6.92rem
    font-size: 0.85rem
    text-transform: uppercase
    background-color: $dark
    color: $white
    &::after
      content: ''
      margin-left: 0.85rem
      background: url(../img/arrow-down.svg) no-repeat center
      height: 2.07rem
      width: 2.07rem
      border: 2px solid $primary
      border-radius: 50%
  &__content
    position: relative
    margin-left: 4.28rem
    max-width: 47.85rem
  &__text
    max-width: 36rem
    font-size: 1.57rem
    line-height: 2.14rem
  &__button
    margin-right: 20px
    font-size: 15px
    font-weight: 500

.instagram
    background-color: $dark
    &__link
      display: flex
      text-transform: uppercase
      align-items: center
      color: $primary
      text-decoration: none
      transform: rotate(90deg)
      line-height: 0.8
      &::after
        content: ''
        margin-left: 8px
        width: 50px
        height: 1px
        background-color: $primary

.title
  margin: 0
  font-family: 'Yeseva One', cursive
  font-size: 2.85rem
  line-height: 3.785rem
  text-transform: uppercase
  font-weight: normal
  &--primary
    color: $primary


    
